*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    /* Margin bottom by footer height */
    margin-bottom: 130px;
}
html {
    position: relative;
    min-height: 100%;
}
h2 {
    margin-top: 40px;
    text-align: center;
    color: #000;
    text-transform: uppercase; 
}
p{
    text-align: center;
    font-size: 18px;
    color: #000;
}
.head {
    height: 80px;
    background-color: #000;
}
.head .top_menu ul li{
    list-style-type: none;
    display: inline-block;
}
.head .top_menu ul li a {
    color: #fff;
    padding: 40px 12px;
    font-size: 20px;
    line-height: 20px;
}
.head .top_menu ul li a span {
    font-weight: bold;
    font-size: 35px;
    line-height: 35px;
    padding: 0 16px;
}
.head .top_menu ul li a:hover {
    background-color: rgba(255,255,255,0.2);
}
.head .search_form {
    border-right: #fff 2px solid;
    border-left: #fff 2px solid;
    padding: 0px 44px;
}
.head .search_form form input {
    margin: 25px 0;
}
.head .search_form form .search_line{
    width: 60%;
}
.head .search_form form .btn{
    background-color: #000;
    color: #fff;
    margin-left: 20px;
    padding: 2px 25px;
    border: #fff 2px solid;
}
.head .search_form form .btn:hover {
    background-color: #fff;
    color: #000;
    border: #000 2px solid;
}
.LogInReg {
    padding: 22px 0;
}
.LogInReg:hover {
    background-color: rgba(255,255,255,0.2);
}
.LogInReg a, .LogInReg a i {
    text-align: center;
    color: #fff;
    display: block;
    font-size: 23px;
    line-height: 21px;
}
.LogInReg .form_LogIn {
    display: block;
    position: absolute;
}
.form_LogIn form {
    width: 307px;
    border-top: #fff 2px solid;
    margin-top: 16px;
    background-color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;

}
.form_LogIn form input {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    width: 80%;
    height: 30px;
}
.form_LogIn form label {
    margin: 5px auto;
    color: #fff;
}
.form_LogIn p {
    color: #fff;
}
.socialBtn{
    text-align: center;
}
.socialBtn a,
.socialBtn i{
    display: inline-block;
    font-size: 23px;
    margin-right: 4px;
    margin-left: 4px;
}
.form_LogIn form .btn {
    background-color: #000;
    color: #fff;
    border: #fff 2px solid;
    margin: 20px auto;
    font-size: 20px;
    line-height: 20px;
    width: 80%;
    height: 30px;
}
.form_LogIn form .btn:hover {
    background-color: #fff;
    color: #000;
    border: #000 2px solid;
}
/*  */
.contacts form{
    margin-top: 20px;
    text-align: center;
}
.contacts form label {
    display: block;
    padding: 10px 20px;
    color: #000;
    font-size: 18px;
}
.contacts form input, .contacts form textarea {
    margin-left: 20px;
    width: 40%;
}
.contacts form .btn {
    background-color: #000;
    color: #fff;
    border: #fff 2px solid;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 20px;
}
.contacts form .btn:hover {
    background-color: #fff;
    color: #000;
    border: #000 2px solid;
}
.alert h2 {
    color: rgb(251, 43, 43);
}
.alert ul {
    background-color: rgba(251, 43, 43, 0.2);
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.alert ul li {
    /*    list-style-type: none;*/
    color: rgb(251, 43, 43);
    font-weight: bold;
}
.form_item{
    padding: 10px 5px;
    text-align: center;
}
.form_item label{
    display: inline-block;
    width: 15%;
    color: #000;
    font-size: 19px;
}
.form_item input {
    width: 30%;
}
.form_item button {
    margin-top: 10px;
    background-color: #fff;
    color: #000;
    padding: 2px 25px;
    border: #000 2px solid;
    font-size: 20px;
}
.form_item button:hover {
    background-color: #000;
    color: #fff;
    padding: 2px 25px;
    border: #fff 2px solid;
}
.infoUser{
    width: 307px;
    border-top: #fff 2px solid;
    margin-top: 16px;
    background-color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    position: absolute;
}
.infoUser a {
    margin-top: 10px;
    padding: 5px 5px;
}
.infoUser a:hover{
    background-color: rgba(255,255,255,0.2);
}
hr{
    padding: 0;
    margin: 0;
    margin-top: 20px;   
}
.form_LogIn form .checkbox input {
    display: inline-block;
    height: 16px;
    width: 30px;
    margin-left: 23px;
}
.profile_cab p {
    text-align: center;
    color: #000;
    font-size: 18px;
}
.profile_cab form label {
    display: block;
    font-size: 24px;
    color: #000;
    padding: 10px 20px;
}
.profile_cab form input, .profile_cab form textarea{
    display: block;
    font-size: 20px;
    width: 50%;
    margin: 0px 20px;
}
.profile_cab form button {
    display: inline-block;
    margin: 20px 20px;
}
.profile_cab form button {
    background-color: #fff;
    color: #000;
    padding: 2px 25px;
    border: #000 2px solid;
    font-size: 20px;
}
.profile_cab form button:hover {
    background-color: #000;
    color: #fff;
    padding: 2px 25px;
    border: #fff 2px solid;
}
.main_content {
    padding-top: 40px;
}
.title {
    overflow: hidden;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 30px;
}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: initial;
}
.title:before {
    margin-left: -100%;
    left: -14px;
}
.title:after {
    margin-right: -100%;
    right: -14px;
}
.main_content img {
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
    width: 43%; 
}
.main_content .date {
    padding: 5px;
}
.main_content p {
    padding: 20px 60px;
    font-style: italic;
}
.main_content p span {
    font-weight: 800;
}
.main_content .btn {
    text-align: center;
    margin-bottom: 40px;
}
.main_content a {
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 5px 40px;
    border: #000 2px solid;
    font-size: 20px;
}
.main_content a:hover {
    background-color: #000;
    color: #fff;
    border: #fff 2px solid;
}
.tags {
    text-align: center;
    margin-bottom: 40px;
}
.tags a, 
.categories a  {
    padding: 2px 5px;;
}
.tagPosts ul li, 
.categories ul li {
    padding: 10px 10px;
}
.tagPosts ul li a, 
.categories ul li a {
    color: #000;
    font-size: 20px;
    padding: 10px 10px;
}
.tagPosts ul li a:hover, 
.categories ul li a:hover {
    text-decoration: underline;
}
.hFooter{
    height: 100px;
    clear: both;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
}
footer p {
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 18px;
    line-height: 10px;
    padding: 35px 60px;
    margin: 0;
}
footer a {
    display: inline-block;
    color: #fff;
    float: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 10px;
    padding: 35px 140px;
}
footer a:hover {
    text-decoration: underline;
}
.comments {
    text-align: center;
}
.comments p {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
}
.comments textarea {
    display: inline-block;
}
.comments button {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 2px 25px;
    border: #fff 2px solid;
    font-size: 20px;
}
.comments button:hover{
    background-color: #fff;
    color: #000;
    border: #000 2px solid;
}
.comment {
    border: 1px #000 solid;
    border-top: 3px #000 solid;
    border-bottom: 3px #000 solid;
    margin: 40px 40px;
}
.comment p span {
    font-style: italic;
    font-size: 18px;
}
.comment_title {
    border-bottom: 1px #000 solid;
}
.chat .messages .title {
    font-size: 18px;
}
.chat .messages ul {
    text-align: center;
}
.chat .messages ul li {
    list-style-type: none;
    margin: 20px 0;
}
.chat .messages ul input {
    margin-bottom: 20px;
    background-color: #fff;
    color: #000;
    padding: 2px 25px;
    border: #000 2px solid;
    font-size: 20px;
}
.chat .messages ul input:hover {
    background-color: #000;
    color: #fff;
    border: #fff 2px solid;
    font-size: 20px;
}
.chatForm {
    text-align: center;
}
.chatForm form button {
    text-align: center;
    margin: 20px;
    background-color: #fff;
    color: #000;
    padding: 2px 25px;
    border: #000 2px solid;
    font-size: 20px;
}
.chatForm form button:hover {
    background-color: #000;
    color: #fff;
    border: #fff 2px solid;
    font-size: 20px;
}